
<div class="container">
    <div class="center">
        <form class="form-signin " id="login-form">
            <img src="/img/Vibio.png" alt="" style="width: 119px;margin:0 0 1rem 12rem;">
            <br>
            <input type="email" id="inputEmail" class="form-control input-success" placeholder="Email" name="email" style="">
            <br>
            {{!-- <input type="password" id="password" class="form-control" placeholder="Password" required aria-label="Password" name="password">
            <br> --}}
            <button class="btn btn-login btn-success  " type="submit" >TIẾP TỤC </button>
           
        </form>
    </div>   
</div>

{{!-- Cập nhật thông tin --}}
<div id="modal-overlay" class="modal-overlay" style="display:none;"></div>
<!-- Form Edit tách biệt ra ngoài bảng -->
<div id="modal-form-container" class="modal-form-container" style="display:none;">
    <div class="modal-edit">
        <form id="formAuth" class="modal-form">
            <div class="mb-3">
                <input type="text" id="otp" name="otp" class="form-control" placeholder="Nhập OTP">
            </div>
            <button class="btn btn-success btn-login btnAuth" type="submit">XÁC THỰC</button>
        </form>
    </div>
</div>    
{{!-- Cập nhật thông tin --}}
<div id="modal-overlay1" class="modal-overlay" style="display:none;"></div>
<!-- Form Edit tách biệt ra ngoài bảng -->
<div id="modal-form-container1" class="modal-form-container" style="display:none;">
    <div class="modal-edit">
        <form id="formPassword" action="" method="POST" class="modal-form">
            <div class="mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="mb-3">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
            </div>
            <button class="btn btn-success btn-login btnPassword" type="submit">ĐỔI MẬT KHẨU</button>
        </form>
    </div>
</div>    
<script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent default form submission
       
        const email = document.getElementById('inputEmail').value;
        {{!-- Send OTP --}}
        fetch('/sendOTP', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                
                // If OTP is sent successfully, show success message
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: data.message || 'Mã OTP đã được gửi đến email của bạn.',
                });
                document.getElementById('modal-form-container').style.display = 'block'; // Show modal form
                document.getElementById('modal-overlay').style.display = 'block'; // Show overlay
            } else {
                // Show error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text:data.message|| 'Đã xảy ra lỗi, vui lòng thử lại.',
                });
            }
        })
        .catch(error => {
            // Show error message using SweetAlert2
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Đã xảy ra lỗi khi gửi yêu cầu. Vui lòng thử lại.',
            });
            console.error('Error:', error);
        });
    });
    document.getElementById('formAuth').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent default form submission
        
        const otp = document.getElementById('otp').value;
        const email = document.getElementById('inputEmail').value;
        fetch('/checkOTP', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ otp:otp, email:email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                
                // If OTP is verified successfully, show success message
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: data.message || 'Mã OTP đã được xác thực thành công.',
                });
                document.getElementById('modal-form-container1').style.display = 'block'; // Show modal form
                document.getElementById('modal-overlay1').style.display = 'block'; // Show overlay
            } else {
                // Show error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text:data.message|| 'Đã xảy ra lỗi, vui lòng thử lại.',
                });
            }
        }) 
        .catch(error => {
            // Show error message using SweetAlert2
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Đã xảy ra lỗi khi gửi yêu cầu. Vui lòng thử lại.',
            });
            console.error('Error:', error);
        });

    });
    document.getElementById('formPassword').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission
        const email = document.getElementById('inputEmail').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        if (password !== confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Mật khẩu không khớp. Vui lòng thử lại.',
            });
            return;
        }
        if (!password || !email) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Email và mật khẩu là bắt buộc.',
            });
            return;
        }
        // Send login request
        fetch('/forgotPassworded', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password:password, email:email })
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                // If login is successful, save token and redirect
                Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: data.message || 'Bạn đã đổi mật khẩu thành công.',
                    timer:2000,
                    showConfirmButton:false,
                    willClose:()=>{
                        window.location.href='/';
                    }
                });
            } else {
                // Show error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text:data.message|| 'Đã xảy ra lỗi, vui lòng thử lại.',
                });
            }
        })
        .catch(error => {
            // Show error message using SweetAlert2
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Đã xảy ra lỗi khi gửi yêu cầu. Vui lòng thử lại.',
            });
            console.error('Error:', error);
        });
    });
      // Đóng modal khi click vào overlay
    document.getElementById('modal-overlay').addEventListener('click', () => {
        document.getElementById('modal-form-container').style.display = 'none';
        document.getElementById('modal-overlay').style.display = 'none';
    });
</script>
