<div class="d-flex vh-100 container mt-5" style="margin-left: 20px;">
    <div class="container my-auto">
        <div class="row justify-content-center">
            <form class="form-signin " id="login-form" style="width: 500px;">
               <img src="/img/Logo.png" alt="" style="width: 100px;margin-bottom: 2rem;margin-left: 12rem;">
                <br>
                <input type="text" id="username" class="form-control" placeholder="User Name" required autofocus aria-label="User Name" name="username">

                <br>
                <input type="password" id="password" class="form-control" placeholder="Password" required aria-label="Password" name="password">
                <br>
                <button class="btn  btn-success container  " type="submit">Đăng nhập</button>
              <div class="text-center" style="margin-top: 10px;">
                <p style="display: inline-block;">Bạn đã có tài khoản chưa?</p> 
                <a href="/register" class="text-success"> Đăng ký ngay</a> 
              </div>
            </form>
      </div>
    </div>
  </div>
<script>
    document.getElementById('login-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        // Send login request
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // If login is successful, save token and redirect
                
                 Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: data.message || 'Bạn đã đăng nhập thành công.',
                    timer:2000,
                    showConfirmButton:false,
                    willClose:()=>{
                        window.location.href='/news';
                    }
                });
                
            } else {
                // Show error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text:data.message|| 'Đã xảy ra lỗi, vui lòng thử lại.',
                });
            }
        })
        .catch(error => {
            // Show error message using SweetAlert2
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: 'Đã xảy ra lỗi khi gửi yêu cầu. Vui lòng thử lại.',
            });
            console.error('Error:', error);
        });
    });
</script>
