<div class="d-flex vh-100 container mt-5" >
    <div class="container my-auto">
        <div class="row justify-content-center">

          <form class="form-signin" action="/addProduct" method="POST" style="width: 500px;">
            <h1>THÊM SẢN PHẨM</h1>

            <label for="inputName" class="sr-only">Tên sản phẩm</label>
            <input type="text" id="inputName" class="form-control" placeholder="Tên sản phẩm" required name="name">
            <label for="inputStyle" class="sr-only">Kiểu sản phẩm</label>
            <select id="inputStyle" class="form-control" required name="style">
              <option value="" disabled selected>Chọn kiểu sản phẩm</option>
              <option value="khuyenmai">Khuyến mãi</option>
              <option value="trasua">Trà sữa</option>
              <option value="tra">Trà</option>
              <option value="cafe">Cà phê</option>
            </select>
            <label for="inputImg" class="sr-only">URL hình ảnh</label>
            <input type="text" id="inputImg" class="form-control" placeholder="URL hình ảnh" required name="img">
            <label for="inputPrice" class="sr-only">Giá sản phẩm</label>
            <input type="number" id="inputPrice" class="form-control" placeholder="Giá sản phẩm" required name="price">
            <label for="inputSalePrice" class="sr-only">Giá giảm (nếu có)</label>
            <input type="number" id="inputSalePrice" class="form-control" placeholder="Giá giảm" name="salePrice">
            <!-- Nút gửi form -->
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Lưu sản phẩm</button>
          </form>
        </div>
    </div>
</div>


