<div class="d-flex vh-100 container mt-5" style="margin-left: 20px;">
    <div class="container my-auto">
        <div class="row justify-content-center">
<form class="form-signin" action="/create"method = "POST" style="width: 500px;">
      <img src="/img/Logo.png" alt="" style="width: 100px;margin-bottom: 2rem;margin-left: 12rem;">
      <br>
      <input type="text" id="inputName" class="form-control" placeholder="User Name" required="" autofocus="" name="username">
      <br>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
      <br>
      <input type="number" id="inputTelephone" class="form-control" placeholder="Telephone" required="" autofocus="" name="telephone">
      <br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
      <br>
     <button class="btn  btn-success container  " type="submit">Đăng ký</button>
      <div class="text-center" style="margin-top: 10px;">
        <p style="display: inline-block;">Bạn đã có tài khoản?</p> 
        <a href="/" class="text-success"> Đăng nhập ngay</a> 
      </div>
    </form>
      </div>
    </div>
  </div>
     